.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-followCard-info{
    display: flex;
    flex-direction: column;
}
.tw-followCard-userName{
    opacity: .6;
}

.tw-followCard-Button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3 ease background-color;
}

.tw-followCard-Button.is-following{
    color: #fff;
    border: 1px solid #bbb;
    background-color: #bababa;
    background: transparent;
    width: 140px;
}

.tw-followCard-text{
    display: block;
}
.tw-followCard-stopFollow{
    display: none;
}
.tw-followCard-Button.is-following:hover .tw-followCard-text{
    display: none;
}
.tw-followCard-Button.is-following:hover .tw-followCard-stopFollow{
    display: block;
}
.tw-followCard-Button.is-following:hover{
    color: #e33030;
    border: 1px solid rgba(98, 38, 38);
    background-color: rgba(98, 38, 38, 0.9);
    transition: .3s ease all;
}
.tw-followCard-Button:hover{
    background-color: #bababa;
}
